<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Settings</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-body">
                            <h3 class="text-center">Change password</h3>
                            <form th:action="@{/user/change-password}" method="post">
                                <div class="form-group my-3">
                                    <input name="oldPassword" type="password" class="form-control" placeholder="Enter old password">
                                </div>
                                <div class="form-group my-3">
                                    <input name="newPassword" type="password" class="form-control" placeholder="Enter new password">
                                </div>
                                <div class="container text-center">
                                    <button type="submit" class="btn btn-success">Change</button>
                                    <button type="submit" class="btn btn-warning">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(()=>{
                $('.item').removeClass("active");
                $('#settings-link').addClass("active");
            })
        </script>
    </section>
</body>
</html>